In [1]:
import pandas as pd

In [2]:
normal_form = pd.read_csv('normal_data.csv')
restaurant_data = pd.read_csv('Merged_data.csv')

In [3]:
normal_form.head()

     restaurant_name  Review        cusine rating         place  price
0    Ovenstory Pizza    5111         pizza    4.3   indiranagar    300
1    Ovenstory Pizza    5111     fast food    4.3   indiranagar    300
2  Empire Restaurant    3587  north indian    4.0  brigade road    300
3  Empire Restaurant    3587       biryani    4.0  brigade road    300
4  Empire Restaurant    3587         kebab    4.0  brigade road    300

In [4]:
restaurant_data.head()

,restaurant_name,Review,cusine,rating,place,price
0,Ovenstory Pizza,5111,"Pizza, Fast Food",4.3,indiranagar,300
1,Empire Restaurant,3587,"North Indian, Biryani, Kebab, Chinese, South I...",4.0,brigade road,300
2,Leon's Burgers & Wings,18,"Burger, Fast Food, Wraps, Street Food, Dessert...",4.3,frazer town,300
3,Truffles,1960,"Burger, American, Bakery, Italian, Oriental, C...",4.4,st. marks road,300
4,Domino's Pizza,419,"Pizza, Fast Food, Desserts, Beverages",4.1,indiranagar,300

In [10]:
cuisine = input().lower().strip()
price = int(input())
location = input().lower().strip()

Pizza
100
indiranagar

In [14]:
def pop_rest(location,cusine):
    popular_cus = ''
    popular_cusine = normal_form[normal_form['place'] == location].groupby('cusine')['cusine'].count().sort_values(ascending=False)
    popular_cusine =  popular_cusine[popular_cusine == popular_cusine.max()].index.tolist()
    if len(popular_cusine) == 1:
        popular_cus = popular_cusine[0]
    else:
        for i in popular_cusine:
            if i not in popular_cusine[-1]:
                popular_cus += i
                popular_cus += ','
            else:
                popular_cus += i
    
    popular_restaurant_cusine = restaurant_data[(restaurant_data['cusine'].str.contains(cusine)) & (restaurant_data['place'] == location)].sort_values(['Review','rating'],ascending= False).iloc[0][0]
    
    avg_price = restaurant_data['price'][restaurant_data['place'] == location]
    
    most_popular_restaurant = restaurant_data[restaurant_data['place'] == location].sort_values(['Review','rating'],ascending=False)
    
    return [round(avg_price.mean(),0),popular_cus,most_popular_restaurant.iloc[0][0],most_popular_restaurant.iloc[0][4],popular_restaurant_cusine]

In [22]:
pop_rest("frazer town","Pizza")

[208.0, 'beverages', 'Karama Restaurant', 'frazer town', 'Big Bang Pizza']